h1#flatpickr Flatpickr

p
    input.uk-width-medium.uk-input(data-flatpicker="{dateFormat: \"Y-m-d\"}")
    input.uk-width-medium.uk-input(data-flatpicker="{enableTime: true, dateFormat: \"Y-m-d H:i\", time_24hr: true}")