h1#hover-css Hover.css

div.uk-card.uk-card-default.uk-card-small.uk-card-body
    p
        button.uk-button.uk-button-blue.hvr-forward.uk-margin-small-right Button
        button.uk-button.uk-button-indigo.hvr-float.uk-margin-small-right Button
        button.uk-button.uk-button-purple.hvr-pop.uk-margin-small-right Button

    p
        button.uk-button.uk-button-blue.uk-margin-small-right.hvr-icon-forward
            | Button
            i.fa.fa-fw.fa-chevron-right.hvr-icon

        button.uk-button.uk-button-indigo.uk-margin-small-right.hvr-icon-float
            | Button
            i.fa.fa-fw.fa-chevron-right.hvr-icon

        button.uk-button.uk-button-purple.uk-margin-small-right.hvr-icon-pop
            | Button
            i.fa.fa-fw.fa-chevron-right.hvr-icon

    p
        button.uk-button.uk-button-orange.uk-button-icon.uk-border-circle.hvr-float-shadow.uk-margin-small-right(uk-tooltip="Add something")
            i.fa.fa-fw.fa-plus
        button.uk-button.uk-button-green.uk-button-icon.uk-border-circle.hvr-float-shadow.uk-margin-small-right
            i.fa.fa-fw.fa-check

