H1#htmx HTMX

div.uk-card.uk-card-default.uk-card-small.uk-card-body.uk-width-large#htmx-container-1

    p
        button.uk-button.uk-button-default(data-hx-get="/", data-hx-target="#htmx-container-1", data-hx-select="#htmx-container-1", data-hx-swap="outerHTML", data-hx-indicator="#htmx-container-1")
            | Click me

