H1#hyperscript Hyperscript

div.uk-card.uk-card-default.uk-card-small.uk-card-body.uk-width-large#test-alert

    p
        button.uk-button.uk-button-default(_="on click toggle .uk-background-pink on #test-alert")
            | Click me

