H1#hyperscript Hyperscript

div.uk-card.uk-card-default.uk-card-small.uk-card-body.uk-width-large

    p
        button.uk-button.uk-button-default(_="on click call alert('You clicked me!')")
            | Click me

