

div.uk-background-white.uk-margin
    nav.uk-navbar-container.uk-navbar-transparent.uk-navbar-large(uk-navbar="mode: click")
        div.uk-navbar-left
            ul.uk-navbar-nav
                li.uk-active
                    a(href="javascript:void") NavItem
                li
                    a(href="javascript:void") NavItem
                li
                    a(href="#")
                        | Dropdown
                        i.fa.fa-fw.fa-chevron-down
                    div.uk-navbar-dropdown(uk-dropdown="mode: click; offset: 0; animation: uk-animation-slide-bottom-small; duration: 200")
                        ul.uk-nav.uk-navbar-dropdown-nav
                            li
                                a Item

div.uk-background-white.uk-margin
    nav.uk-navbar-container.uk-navbar-transparent(uk-navbar="mode: click")
        div.uk-navbar-left
            ul.uk-navbar-nav
                li.uk-active
                    a(href="javascript:void") NavItem
                li
                    a(href="javascript:void") NavItem
                li
                    a(href="#")
                        | Dropdown
                        i.fa.fa-fw.fa-chevron-down
                    div.uk-navbar-dropdown(uk-dropdown="mode: click; offset: 0; animation: uk-animation-slide-bottom-small; duration: 200")
                        ul.uk-nav.uk-navbar-dropdown-nav
                            li
                                a Item

div.uk-background-white.uk-margin
    nav.uk-navbar-container.uk-navbar-transparent.uk-navbar-small(uk-navbar="mode: click")
        div.uk-navbar-left
            ul.uk-navbar-nav
                li.uk-active
                    a(href="javascript:void") NavItem
                li
                    a(href="javascript:void") NavItem
                li
                    a(href="#")
                        | Dropdown
                        i.fa.fa-fw.fa-chevron-down
                    div.uk-navbar-dropdown(uk-dropdown="mode: click; offset: 0; animation: uk-animation-slide-bottom-small; duration: 200")
                        ul.uk-nav.uk-navbar-dropdown-nav
                            li
                                a Item
