h2#subnav Subnav

div.uk-card.uk-card-default.uk-card-small.uk-card-body

    ul.uk-subnav.uk-subnav-divider.uk-margin
        li.uk-active
            a(href="#") Active
        li
            a(href="#") Item
        li
            a(href="#") Item

    ul.uk-subnav.uk-subnav-pill.uk-margin
        li.uk-active
            a(href="#") Active
        li
            a(href="#") Item
        li
            a(href="#") Item