
- const theme_colors = ['blue','indigo','purple','pink','red','orange','yellow','green','teal','cyan']
- const hs = [1,2,3,4,5,6]

h2#type Type

div(uk-grid)
    div.uk-width-1-2

        div.uk-card.uk-card-default.uk-card-small.uk-card-body

            each h in hs
                h1.uk-margin-remove(class='uk-h' + h) Title

            p
                each color in theme_colors
                    span(class='uk-text-' + color)
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    br


    div.uk-width-1-2
