$tab-margin-horizontal:                   20px !default;

$tab-item-padding-horizontal:             10px !default;
$tab-item-padding-vertical:               5px !default;


.uk-tab.uk-tab-large > * > a {
  padding: ($tab-item-padding-vertical * 2) ($tab-item-padding-horizontal * 2);
}

.uk-tab.uk-tab-extralarge > * > a {
  padding: ($tab-item-padding-vertical * 3) ($tab-item-padding-horizontal * 3);
}

