@import "./variables";
@import "./functions";
@import "./mixins";

$global-font-size: 1.5rem !default;

h1, .uk-h1 {
  font-family: 'nunito', sans-serif;
  font-size: ($global-font-size * 2.8);
  line-height: 1.2;
}

h2, .uk-h2 {
  font-size: ($global-font-size * 2.5);
  font-family: 'nunito', sans-serif;
  line-height: 1.2;
}

h3, .uk-h3 {
  font-size: ($global-font-size * 2.2);
  font-family: 'nunito', sans-serif;
  line-height: 1.2;
}

h4, .uk-h4 {
  font-family: 'nunito', sans-serif;
  font-size: ($global-font-size * 1.9);
  line-height: 1.2;
}

h5, .uk-h5 {
  font-family: 'nunito', sans-serif;
  font-size: ($global-font-size * 1.6);
  line-height: 1.2;
}

h6, .uk-h6 {
  font-family: 'nunito', sans-serif;
  font-size: ($global-font-size * 1.3);
  line-height: 1;
}

@each $name, $color in $colors {
  .uk-text-#{$name} {
    color: $color;
  }
}