doctype html
html(lang='en')
    head
        title UIkit-ext demo
    body
        h1 Hello, World!
        div.uk-alert.uk-alert-success
            p Pug rocks!
        - const employees = ['Angela', 'Jim', 'Nilson', 'Simone', 'Dre']
        ul
            each employee in employees
                li= employee
