doctype html

html(lang='en')
    head
        title UIkit-ext demo
    body
        div.uk-container.uk-container-large
            h1 UIkit-ext demo
            div(uk-grid)
                div.uk-width-1-5
                    div(uk-sticky)
                        ul.uk-nav.uk-nav-default
                            li.uk-nav-header Content
                            li
                                a(href="#buttons",uk-scroll) Buttons
                                a(href="#alerts",uk-scroll) Alerts
                            li.uk-nav-divider

                div.uk-width-4-5
                    include pug/buttons.pug
                    include pug/alerts.pug